[Unit]
Description=Teamcity Agent
After=network.target
[Service]
User=root
ExecStart=/opt/TeamCity/buildAgent/bin/agent.sh run
ExecStop=/opt/TeamCity/buildAgent/bin/agent.sh stop
[Install]
WantedBy=multi-user.target

