<VirtualHost *:80>
{% if vhost_ssl_only %}
{% include "redirect_https_conf_include.j2" %}
{% else %}
{% include "basic_conf_include.j2" %}
{% endif %}

</VirtualHost>

<VirtualHost *:443>
{% include "basic_conf_include.j2" %}

    SSLEngine on
    SSLCertificateFile "{{ vhost_ssl_certificate }}"
    SSLCertificateKeyFile "{{ vhost_ssl_key }}"
</VirtualHost<VirtualHost *:80>
{% if vhost_ssl_only %}
{% include "redirect_https_conf_include.j2" %}
{% else %}
{% include "basic_conf_include.j2" %}
{% endif %}

</VirtualHost>

<VirtualHost *:443>
{% include "basic_conf_include.j2" %}

    SSLEngine on
    SSLCertificateFile "{{ vhost_ssl_certificate }}"
    SSLCertificateKeyFile "{{ vhost_ssl_key }}"
</VirtualHost>>
